<!DOCTYPE html>


<!-- first section - Home -->
<div id="home" class="home">
  <div class="text-vcenter">
    <h1>Desire</h1>
  </div>
</div>
<!-- /first section -->

<!-- second section - About -->
<div id="about" class="pad-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <span class="home-sub-title"><h2>Purpose</h2></span>
        <p class="lead">This is an open space where you can share some of the features you'd like to see in your favourite products</p>
      </div>
      <div class="col-sm-6 text-center">
        <span class="home-sub-title"><h2>How it works</h2></span>
        <p class="lead">Add a product and request a feature. Other people can then upvote or downvote your request.
          The request with most upvotes will float to the top and one with the most downvotes will go to the bottom</p>
        </div>
      </div>
    </div>
  </div>
  <!-- /second section -->

  <!-- third section - Services -->
  <div id="services" class="pad-section">


  </div>
  <!-- /third section -->

  <!-- fourth section - Information -->
  <div id="information" class="pad-section">
    <div class="">
      <div class="row">
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">London buses use case</h2>
            </div>
            <div class="panel-body lead">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit adipiscing blandit. Aliquam placerat, velit a fermentum fermentum, mi felis vehicula justo, a dapibus quam augue non massa. Duis euismod, augue et tempus consequat, lorem mauris porttitor quam, consequat ultricies mauris mi a metus. Phasellus congue, leo sed ultricies tristique, nunc libero tempor ligula, at varius mi nibh in nisi. Aliquam erat volutpat. Maecenas rhoncus, neque facilisis rhoncus tempus, elit ligula varius dui, quis amet.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /fourth section -->

  <!-- fifth section -->
  <div  class="pad-section">
    <div class="">
      <div class="row">
        <div class="col-sm-12 text-center">
          <blockquote>
            Learn the rules like a pro, so you can break them like an artist.
            <cite>Pablo Picasso</cite>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
  <!-- /fifth section -->
