<!DOCTYPE html>


<div class="row">
  <h1>{{ featuresEdit.feature.title }} Edit</h1>
  <div class="" ng-if="main.isAuthenticated()">
    <!-- title -->
    <h3>Edit a feature</h3>
    <form ng-submit="featuresEdit.update()">
      <div class="form-group">
        <input class="form-control" type="text" name="title"
        ng-model="featuresEdit.feature.title"
        placeholder="Title"
        autofocus>
      </div>
      <!--description -->
      <div class="">
        <textarea  class="form-control" type="text" name="body" ng-model="featuresEdit.feature.description" placeholder="Description"
        rows="5"></textarea>
      </div>
      <hr>
      <div class="form-group">
        <button class="btn btn-success form-control custom-button-full-width">Submit</button>
      </div>

    </form>
  </div>
</div>
