<!DOCTYPE html>

<h1>{{ featuresShow.feature.product.name }} Feature Request</h1>

<div class="row">
  <div class="col-sm-3">
    {{ featuresShow.currentUser.email }}
  </div>
  <div class="col-sm-8">
    <h5>{{ featuresShow.feature.title }}</h5>
    <h5>{{ featuresShow.feature.description }}</h5>
    <h5>{{ featuresShow.feature.user.username }}</h5>
    <button class="btn custom-button" ui-sref="featuresEdit({id: featuresShow.feature.id})" ng-show="main.isAuthenticated() && main.currentUser.id === product.user.id" >Edit</button>
    <button class="btn custom-button" ng-click="featuresShow.delete()">Delete</button>

    <!-- comments -->
    <div class="comments">

        <div class="">
          <h4>Comments</h4>
            <p ng-repeat="comment in featuresShow.feature.comments">{{ comment.description }} - <strong>{{ comment.user.username }}</strong>
            <button class="btn custom-button" ng-click="featuresShow.deleteComment(comment)" ng-if="main.isAuthenticated() && main.currentUser.id === comment.currentUser.id">Delete</button></p>
        </div>

          <form ng-submit="featuresShow.addComment()">
            <textarea class="form-control" type="text" name="body"
              ng-model="featuresShow.comment.description"
              placeholder="Add a comment"></textarea>
              <hr>
            <button class="btn btn-success form-control custom-button-full-width" ng-if="main.isAuthenticated()">Submit</button>
          </form>


    </div>

  </div>
  <div class="col-sm-1">


  </div>
</div>
