<!DOCTYPE html>
<h1>Edit a product</h1>

<div >
        <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        	<div class="panel panel-default custom-form">
        		<div class="panel-heading">
			    		<h3 class="panel-title">Edit a product </h3>
			 			</div>
			 			<div class="panel-body">
			    		<form  ng-submit="productsEdit.update()">
			    			<div class="row">
			    			</div>
                <!-- name -->
			    			<div class="form-group">
			    				<input type="text" name="name" id="name" class="form-control custom-input"
                  placeholder="Name" ng-model="productsEdit.product.name">
			    			</div>

                <!-- category-->
                <label>
                    <select name="category" id="category" class="nullable form-control" ng-model="productsEdit.product.category"
                        ng-options="category.name as category.name for category in productsEdit.categories">
                      <option value="">Category</option>
                    </select>
                </label>
                <!-- Image -->
                <div class="form-group">
                  <label for="base64" class="btn btn-success image-upload-button">Upload a photo</label>
                  <input type="file" base64 name="base64" id="base64"
                  class="form-control image-upload"
                  placeholder="Image"
                  ng-model="productsEdit.product.base64" hidden>
                </div>

                <!-- button -->
			    			<input type="submit" value="Edit" class="btn btn-info btn-block custom-button">

			    		</form>
			    	</div>
	    		</div>
    		</div>
    	</div>
    </div>
