<!DOCTYPE html>
<h1>Products</h1>


<section>

  <div class = "row equal-height">
    <!-- the products -->
    <div class="col-sm-9" >
      <div class="col-sm-4 products" ng-repeat="product in products.all" >
        <div class = "thumbnail">
          <img class="product-image" ng-src="{{ product.image_src }}" ui-sref="productsShow({ id: product.id })" alt = "thumbnail">
        </div>
        <div class = "caption">
          <h3>{{ product.category }}</h3>
          <h4 ui-sref="productsShow({ id: product.id })" class="product-name">{{ product.name }}</h4>
          <p>
            <!-- <a href = "#" class ="heart" role ="button"></a> -->
          </p>
          <h5>Upvotes {{ product.upvotes }}</h5>
          <h5>Downvotes {{ product.downvotes }}</h5>
          <div class="voting-buttons">
            <a class="upvote" ng-click="products.upvote(product)">Upvote</a>
            <a class="downvote" ng-click="products.downvote(product)">Downvote</a>
          </div>
          <h5>Posted by: {{ product.user.username }}</h5>
        </div>
      </div>
    </div>

    <!-- the trending list -->
    <div class="col-sm-3">
      <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action active">
          Trending  <span class="up-arrow">&#9650;</span>
        </button>
        <div class="trending" ng-repeat="product in products.all | orderBy:'-upvotes'">
          <button type="button" class="list-group-item list-group-item-action"
          ui-sref="productsShow({ id: product.id })">{{ product.name }} - {{ product.upvotes}}</button>
        </div>
      </div>
    </div>
  </div>




</section>
