<!DOCTYPE html>
<h1>Products</h1>

<section>

  <div class="products" ng-repeat="product in products.all">
    <div class = "col-sm-offset-1 col-sm-3 col-md-3">
      <div class = "row">
        <div class = "thumbnail">
          <img ng-src="{{ product.image_src }}" alt = "thumbnail">
        </div>
        <div class = "caption">
          <h3>{{ product.name }}</h3>
          <p>{{ product.category }}</p>
          <p>Posted by: {{ product.user.username }}</p>
          <p>
            <!-- <a href = "#" class ="heart" role ="button"></a> -->

            <button ui-sref="productsShow({ id: product.id })" class = "btn btn-default">View</button>
          </p>
          <!-- TODO: click love and the product goes to the top also have a label counter for the number of votes -->
          <!-- voting -->
          <div class="voting-buttons">
            <button type="button" name="button" ng-click="products.hello()">Hello</button>
            <button type="button" name="button" class="btn btn-success">Upvote</button>
            <button type="button" name="button" class="btn btn-danger">Downvote</button>
            <div class="counter">
              <label for="counter">0</label>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
