<!DOCTYPE html>
<h1>Products</h1>

<section ng-controller="Products as products">

  <div class="products" ng-repeat="product in products.all">
    <div class = "row">
      <div class = "col-sm-4 col-md-4">
        <div class = "thumbnail">
          <img ng-src = "{{ product.image }}" alt = "Generic placeholder thumbnail">
        </div>
        <div class = "caption">
          <h3>{{ product.name }}</h3>
          <p>{{ product.category }}</p>
          <p>Posted by: {{ product.user.username }}</p>
          <p>
            <a href = "#" class = "btn btn-primary" role = "button">
              Button
            </a>

            <a href = "#" class = "btn btn-default" role = "button">
              Button
            </a>
          </p>

        </div>
      </div>
    </div>
  </div>

</section>
