<!DOCTYPE html>

<div >
  <div class="row centered-form">
    <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Add a product </h3>
        </div>
        <div class="panel-body">
          <form  ng-submit="productsNew.addProduct()">
            <div class="row">
            </div>
            <!-- name -->
            <div class="form-group">
              <input type="text" name="name" id="name" class="form-control custom-input"
              placeholder="Name" ng-model="productsNew.product.name" required>
            </div>

            <!-- category-->
            <label>
                <select name="category" id="category" class="nullable form-control custom-input" ng-model="productsNew.product.category"
                    ng-options="category.name as category.name for category in productsNew.categories | orderBy: 'name'" required>
                  <option value="">Category</option>
                </select>
            </label>

              <!-- Image -->

              <div class="form-group">
                <label for="base64" class="btn btn-success image-upload-button" required>Upload a photo</label>
                <input type="file" base64 name="base64" id="base64"
                class="form-control image-upload"
                placeholder="Image"
                ng-model="productsNew.product.base64" hidden>
              </div>

              <!-- button -->
              <input type="submit" value="Add" class="btn btn-info btn-block custom-button">

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- this method is causing a bug on the create new so it's commented out for now. -->
<!-- # def set_product
#   @product = Product.find(params[:id]) #this is cause a bug on the create new route.
# end -->
