<!DOCTYPE html>

<div >
        <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        	<div class="panel panel-default custom-form">
        		<div class="panel-heading">
			    		<h3 class="panel-title">Please login </h3>
			 			</div>
			 			<div class="panel-body">
			    		<form role="form" ng-submit="login.submit()">

                <!-- email address  -->
			    			<div class="form-group">
			    				<input type="email" name="email" id="email" class="form-control input-sm custom-input"
                  placeholder="Email Address" ng-model="login.credentials.email"
                  required>
			    			</div>
                <!-- password -->
			    			<div class="form-group">
			    				<input type="password" name="password" id="password" class="form-control input-sm custom-input"
                  placeholder="Password" ng-model="login.credentials.password"
                  required>
			    			</div>
                <!-- button -->
                <div class="form-group">
                  <input type="submit" value="Login" class="custom-button btn btn-info btn-block">
                </div>
			    		</form>

              <h5 id="login-text"><span>or</span></h5>

              <!-- oauth buttons -->
              <div class="oauth-login">
                <div class="row">
                  <div class="col-offset-1 col-md-11 col-sm-12 col-xs-12">
                    <div  class=" col-sm-offset-2 col-xs-3 col-sm-3 col-md-3">
                      <input type="button" value="&#xf09b;" class="fa btn-block"
                      ng-click="login.authenticate('github')"
                      id="github-round-botton">
                    </div>

                    <div class=" col-xs-3 col-sm-3 col-md-3">
                      <input type="button" value="&#xf09a;" class="fa btn-block"
                      ng-click="login.authenticate('facebook')"
                      id="facebook-round-botton">
                    </div>

                    <div class=" col-xs-3 col-sm-3 col-md-3">
                      <input type="button" value="&#xf16d;" class="fa btn-block"
                      ng-click="login.authenticate('instagram')"
                      id="instagram-round-botton">
                    </div>
                  </div>
                </div>

              </div>
			    	</div>
	    		</div>
    		</div>
    	</div>
    </div>
