<!DOCTYPE html>
<html ng-app="desireApp">
<head>
  <base href="/" >
  <meta charset="utf-8">
  <title>Desire</title>
  <!-- inject:js -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->
</head>
<!-- TODO: make partials and keep the index fresh and clean -->
<!-- header -->
<header>
  <nav>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
      <ul class="nav navbar-nav">
        <li><a ui-sref="productsIndex">Products</a></li>
        <li><a ui-sref="UsersShow({ id: main.currentUserId })" ng-if="main.isAuthenticated()">Profile</a></li>
        <li><a ui-sref="productsNew">Add Product</a></li>
        <li><a ui-sref="login">Login</a></li>
        <li><a ui-sref="register">Register</a></li>
        <li><a ui-sref="logout" ng-click="main.logout()" ng-if="main.isAuthenticated()">Logout</a></li>
      </ul>
    </div>
  </nav>
</header>
<body ng-controller="MainCtrl as main">

  <!-- main -->
  <div class="message" ng-if="main.message">{{ main.message }}</div>
  <main class="container" ui-view></main>

  <!-- footer -->
  <footer></footer>

</body>
</html>
