<!DOCTYPE html>
<html ng-app="desireApp">
<head>
  <base href="/" >
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Desire</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa|Raleway:300,400,700|Source+Sans+Pro:200|Lato" rel="stylesheet">
  <!-- inject:js -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->
</head>
<!-- TODO: make partials and keep the index fresh and clean -->
<!-- header -->
<header class="">
  <nav class="navbar navbar-default " role="navigation">
    <div class="navbar-header ">
      <button type="button" class="navbar-toggle" ng-click="main.isNavCollapsed = !main.isNavCollapsed">
        <div class="menu">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </div>
      </button>

    </div>

      <div class="collapse navbar-collapse container borderXwidth" uib-collapse="main.isNavCollapsed">
        <div class="ul-wrapper">
        <ul class="nav navbar-nav ">
          <li><a class="navbar-brand" ui-sref="home">Home</a></li>
          <li ng-if="main.isAuthenticated()"><a ui-sref="productsIndex" ui-sref-active="active">Products</a></li>
          <li ng-if="main.isAuthenticated()"><a ui-sref="usersShow({ id: main.currentUserId })" ui-sref-active="active" >Profile</a></li>
          <li ng-if="main.isAuthenticated()"><a ui-sref="productsNew" ui-sref-active="active">Add Product</a></li>
          <li ng-if="!main.isAuthenticated()"><a ui-sref="login" ui-sref-active="active">Login</a></li>
          <li ng-if="!main.isAuthenticated()"><a ui-sref="register" ui-sref-active="active">Register</a></li>
          <li ng-if="main.isAuthenticated()" ng-click="main.logout()" ><a ui-sref="logout" ui-sref-active="active">Logout</a></li>
        </ul>
      </div>
    </div>

  </nav>
</header>
<body ng-controller="MainCtrl as main">

  <!-- main -->
  <div class="message" ng-if="main.message">{{ main.message }}</div>

  <main class="container" ui-view></main>


  <!-- footer -->
  <footer>
    <div class="col-sm-12">

    </div>
  </footer>

</body>
</html>
