// Import all of your scss files here

html, body {
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

body{
  width: 100%;
  min-height: 100%;
  background-image: url(./images/emmad-mazhari-216134.jpg);
  background: white;
  font-family: 'Raleway', sans-serif;
  padding-top: 90px;
  color: #50452a;
  display: flex;
  flex-direction: column;
}
input {
  border-radius: 25px !important;
}
.custom-select {
  width: 100%;
  max-width: 350px;
}
/*variables*/
$instagram: #8a3ab9;
$facebook: #3B5998;
$github: #24292E;


#facebook-round-botton {
width:50px; /*same as the height*/
height:50px; /*same as the width*/
background-color:$facebook;
border:1px solid $facebook; /*same colour as the background*/
color:#fff;
font-size:1.6em;
/*set the border-radius at half the size of the width and height*/
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;
}
/***NOW STYLE THE BUTTON'S HOVER STATE***/
#facebook-round-botton:hover {
/*reduce the size of the shadow to give a pushed effect*/
-webkit-box-shadow: 0px 0px 5px rgba(0,0,0, .75);
-moz-box-shadow: 0px 0px 5px rgba(0,0,0, .75);
box-shadow: 0px 0px 5px rgba(0,0,0, .75);
}

#instagram-round-botton {
width:50px; /*same as the height*/
height:50px; /*same as the width*/
background-color:$instagram;
background-image: url(src/images/icons/32x32.png);
border:1px solid $instagram; /*same colour as the background*/
color:#fff;
font-size:1.6em;
/*set the border-radius at half the size of the width and height*/
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;

}
/***NOW STYLE THE BUTTON'S HOVER STATE***/
#instagram-round-botton:hover {
/*reduce the size of the shadow to give a pushed effect*/
-webkit-box-shadow: 0px 0px 5px rgba(0,0,0, .75);
-moz-box-shadow: 0px 0px 5px rgba(0,0,0, .75);
box-shadow: 0px 0px 5px rgba(0,0,0, .75);
}

#github-round-botton {
width:50px; /*same as the height*/
height:50px; /*same as the width*/
background-color:$github;
border:1px solid $github; /*same colour as the background*/
color:#fff;
font-size:1.6em;
/*set the border-radius at half the size of the width and height*/
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;

}
/***NOW STYLE THE BUTTON'S HOVER STATE***/
#github-round-botton:hover {
/*reduce the size of the shadow to give a pushed effect*/
-webkit-box-shadow: 0px 0px 5px rgba(0,0,0, .75);
-moz-box-shadow: 0px 0px 5px rgba(0,0,0, .75);
box-shadow: 0px 0px 5px rgba(0,0,0, .75);
}

#login-text {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* buttons */
.custom-button {
width:49%; /*same as the height*/
height:49%; /*same as the width*/
color:#fff;
font-size:1em;
/*set the border-radius at half the size of the width and height*/
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;

}
/***NOW STYLE THE BUTTON'S HOVER STATE***/
.custom-button:hover {
/*reduce the size of the shadow to give a pushed effect*/
-webkit-box-shadow: 0px 0px 5px rgba(0,0,0, .75);
-moz-box-shadow: 0px 0px 5px rgba(0,0,0, .75);
box-shadow: 0px 0px 5px rgba(0,0,0, .75);
}
/* buttons */
.custom-button-full-width {
width:100%; /*same as the height*/
height:100%; /*same as the width*/
color:#fff;
font-size:1em;
/*set the border-radius at half the size of the width and height*/
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 25px;

}
/***NOW STYLE THE BUTTON'S HOVER STATE***/
.custom-button-full-width:hover {
/*reduce the size of the shadow to give a pushed effect*/
-webkit-box-shadow: 0px 0px 5px rgba(0,0,0, .75);
-moz-box-shadow: 0px 0px 5px rgba(0,0,0, .75);
box-shadow: 0px 0px 5px rgba(0,0,0, .75);
}

/* input fields  */
.custom-input{
width:100%; /*same as the height*/
line-height:60%; /*same as the width*/
font-size:1em;
/*set the border-radius at half the size of the width and height*/
-webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 25px;

}

.btn-circle {
    font-weight: bold;
    font-size: 12px;
    padding: 6px 15px;
    border-radius: 20px;
}
/*forms*/
.panel {
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;

}
/*input fields*/
.input-sm {
    height: 40px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.line-each-side{
     overflow: hidden;
     text-align: center;
     text-transform: uppercase;
     margin-bottom: 20px;
 }
.line-each-side > span{
    position: relative;
    display: inline-block;
}
.line-each-side > span:before, .line-each-side > span:after{
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 1px solid;
    width: 130px; /* half of limiter*/
    margin: 0 10px;
}
.line-each-side > span:before{
    right: 100%;
}
.line-each-side > span:after{
    left: 100%;
}




/*love button*/
.heart {
  width: 100px;
  height: 80px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(https://cssanimation.rocks/images/posts/steps/heart.png) no-repeat;
  background-position: 0 0;
  cursor: pointer;
  animation: fave-heart 3s steps(28);
}
.heart:hover {
  background-position: -2800px 0;
  transition: background 1s steps(28);
}



@keyframes fave-heart {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2800px 0;
  }
}

/* end of love button */

/* Bootstrap button class*/
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 2;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 25px;
}

.btn-info {
    color: #fff;
    background-color: #337AB7;
    border-color: #337AB7;
}

.btn-info:hover {
    color: #fff;
    background-color: #337AB7;
    border-color: #337AB7;
}

.btn-success {
    color: #fff;
    background-color: #9f9d53;
    border-color: #9f9d53;
}

.btn-success:hover {
    color: #fff;
    background-color: #9f9d53;
    border-color: #9f9d53;
}
.btn-danger {
    color: #fff;
    background-color: #b41809;
    border-color: #b41809;
}

.btn-danger-delete:hover {
    color: #fff;
    background-color: #b41809;
    border-color: #b41809;
}

/*Image input*/
.image-upload {
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
}

.image-upload-button {
    margin-left: 0%;
    text-align: center;
    width: 100%;
}





/***NOW STYLE THE BUTTON'S HOVER STATE***/
.image-upload-button:hover {
/*reduce the size of the shadow to give a pushed effect*/
-webkit-box-shadow: 0px 0px 5px rgba(0,0,0, .75);
-moz-box-shadow: 0px 0px 5px rgba(0,0,0, .75);
box-shadow: 0px 0px 5px rgba(0,0,0, .75);
}

/*forms*/
.panel-default {
  border-color: #ddd;
  margin-top: 55px;
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;

}

.products {
  margin-bottom: 20px;
}


.product-name:hover {
  cursor: pointer;
}

.product-image:hover {
  cursor: pointer;
}

.user-image {
  display: inline-block;
  max-width: 120px;
  border-radius: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.up-arrow {
  color: #5CB85C;
}

.upvote {
  color: #5CB85C;
}

.downvote {
  color: #FA0946;
  margin-left: 10px;
}

.tweet {
  margin-left: 20px;
}

.home-sub-title {
  color: white;
}

.thumbnail > img, .thumbnail a > img {

    margin-right: auto;
    margin-left: auto;
    max-width: 100% /* do not stretch the bootstrap column*/
}



/*same size images*/
@media only screen and (min-width : 481px) {

    .row.equal-height > [class*='col-'] > .thumbnail > img {
        width: 100%;
        height: 200px; /* force image's height */

        /* force image fit inside it's "box" */
        -webkit-object-fit: cover;
           -moz-object-fit: cover;
            -ms-object-fit: cover;
             -o-object-fit: cover;
                object-fit: cover;
    }
}


/* parallax */
/* general styles */
html, body {
height: 100%;
width: 100%;
}
/* padded section */
.pad-section {
padding: 50px 0;
}
.pad-section img {
width: 100%;
}
/* vertical-centered text */
.text-vcenter {
display: table-cell;
text-align: center;
vertical-align: middle;
height: 400px;
color: white;
}
.text-vcenter h1 {
font-size: 4.5em;
font-weight: 700;
margin: 0;
padding: 0;
}
/* additional sections */
#home {
background: url(/images/ocean.jpg) no-repeat center center fixed;
display: table;
height: 100%;
position: relative;
width: 100%;
margin-top: -20px;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

}

#information {
background: url(/images/london.jpg) no-repeat center center fixed;
display: table;
height: 800px;
position: relative;
width: 100%;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
#information .panel {
opacity: 0.85;
}
/* end parallax */

/* navigation position*/
.navbar {
    position: relative;
    min-height: 50px;
    margin-top: -50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}


.navbar-nav {
    margin-top: -65px;

    /* float: right; */
    letter-spacing: 0px;
    /* margin: 0; */
    margin-bottom: auto;
}
/* navigation animation */

div.container
{
  width: 100%;
  background:  rgba(236,211,110, 0.7);
  font-family: Raleway;
  margin: 0 auto;
	padding: 10em 3em;
	text-align: center;

}

div.container a
{
    color: #FFF;

    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}


/* Border X get width  */
div.borderXwidth a:before, div.borderXwidth a:after
{
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: #FFF;
    transition: all 0.3s;
}
div.borderXwidth
{
  overflow: hidden;
  z-index: 3;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  margin-top: -50px;
}

div.borderXwidth a:before
{
    left: 0px;
    top: 0px;
}

div.borderXwidth a:after
{
    right: 0px;
    bottom: 0px;
}

div.borderXwidth a:hover:before, div.borderXwidth a:hover:after
{
    opacity: 1;
    width: 100%;
}

.ul-wrapper {
  margin-left: 60px;
}
/* end navigation animation */

/* big quotes*/
blockquote {
font-family: Georgia, serif;
font-size: 18px;
font-style: italic;
line-height: 1.45;
position: relative;
color: #383838;
}

blockquote:before {
display: block;
padding-left: 10px;
content: "\201C";
font-size: 80px;
position: absolute;
left: 2px;
top: -20px;
color: #7a7a7a;
}

blockquote cite {
color: #999999;
font-size: 14px;
display: block;
margin-top: 5px;
}

blockquote cite:before {
content: "\2014 \2009";
}

:focus::-webkit-input-placeholder {color: #c98e8b}
:focus::-moz-placeholder          {color: #c98e8b}
:focus:-moz-placeholder           {color: #c98e8b}
:focus:-ms-input-placeholder      {color: #c98e8b}


/*Sticky footer*/


.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-text {
  color: white;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}
