// Import all of your scss files here



body{
  background-image: url(src/images/icons/lauren-mancke-60627.jpg);
  background: white;
  font-family: 'Raleway', sans-serif;
}
/*variables*/
$instagram: #8a3ab9;
$facebook: #3B5998;
$github: #24292E;


#facebook-round-botton {
width:50px; /*same as the height*/
height:50px; /*same as the width*/
background-color:$facebook;
border:1px solid $facebook; /*same colour as the background*/
color:#fff;
font-size:1.6em;
/*set the border-radius at half the size of the width and height*/
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;
}
/***NOW STYLE THE BUTTON'S HOVER STATE***/
#facebook-round-botton:hover {
/*reduce the size of the shadow to give a pushed effect*/
-webkit-box-shadow: 0px 0px 5px rgba(0,0,0, .75);
-moz-box-shadow: 0px 0px 5px rgba(0,0,0, .75);
box-shadow: 0px 0px 5px rgba(0,0,0, .75);
}

#instagram-round-botton {
width:50px; /*same as the height*/
height:50px; /*same as the width*/
background-color:$instagram;
background-image: url(src/images/icons/32x32.png);
border:1px solid $instagram; /*same colour as the background*/
color:#fff;
font-size:1.6em;
/*set the border-radius at half the size of the width and height*/
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;

}
/***NOW STYLE THE BUTTON'S HOVER STATE***/
#instagram-round-botton:hover {
/*reduce the size of the shadow to give a pushed effect*/
-webkit-box-shadow: 0px 0px 5px rgba(0,0,0, .75);
-moz-box-shadow: 0px 0px 5px rgba(0,0,0, .75);
box-shadow: 0px 0px 5px rgba(0,0,0, .75);
}

#github-round-botton {
width:50px; /*same as the height*/
height:50px; /*same as the width*/
background-color:$github;
border:1px solid $github; /*same colour as the background*/
color:#fff;
font-size:1.6em;
/*set the border-radius at half the size of the width and height*/
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;

}
/***NOW STYLE THE BUTTON'S HOVER STATE***/
#github-round-botton:hover {
/*reduce the size of the shadow to give a pushed effect*/
-webkit-box-shadow: 0px 0px 5px rgba(0,0,0, .75);
-moz-box-shadow: 0px 0px 5px rgba(0,0,0, .75);
box-shadow: 0px 0px 5px rgba(0,0,0, .75);
}

/* buttons */
.custom-button {
width:50%; /*same as the height*/
height:50%; /*same as the width*/
color:#fff;
font-size:1em;
/*set the border-radius at half the size of the width and height*/
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;

}
/***NOW STYLE THE BUTTON'S HOVER STATE***/
.custom-button:hover {
/*reduce the size of the shadow to give a pushed effect*/
-webkit-box-shadow: 0px 0px 5px rgba(0,0,0, .75);
-moz-box-shadow: 0px 0px 5px rgba(0,0,0, .75);
box-shadow: 0px 0px 5px rgba(0,0,0, .75);
}

/* input fields  */
.custom-input{
width:100%; /*same as the height*/
line-height:60%; /*same as the width*/
font-size:1em;
/*set the border-radius at half the size of the width and height*/
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;

}



/*input fields*/
.input-sm {
    height: 40px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.line-each-side{
     overflow: hidden;
     text-align: center;
     text-transform: uppercase;
     margin-bottom: 20px;
 }
.line-each-side > span{
    position: relative;
    display: inline-block;
}
.line-each-side > span:before, .line-each-side > span:after{
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 1px solid;
    width: 130px; /* half of limiter*/
    margin: 0 10px;
}
.line-each-side > span:before{
    right: 100%;
}
.line-each-side > span:after{
    left: 100%;
}

#login-text {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}


/*love button*/
.heart {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 91%;
  transform: translate(-50%, -50%);
  background: url(https://cssanimation.rocks/images/posts/steps/heart.png) no-repeat;
  background-position: 0 0;
  cursor: pointer;
  animation: fave-heart 3s steps(28);
}
.heart:hover {
  background-position: -2800px 0;
  transition: background 1s steps(28);
}
@keyframes fave-heart {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2800px 0;
  }
}

/* end of love button */

/* Bootstrap button class*/
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 2;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

/*Image input*/
.image-upload {
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
}

.image-upload-button {
    margin-left: 0%;
    text-align: center;
    width: 100%;
}

/***NOW STYLE THE BUTTON'S HOVER STATE***/
.image-upload-button:hover {
/*reduce the size of the shadow to give a pushed effect*/
-webkit-box-shadow: 0px 0px 5px rgba(0,0,0, .75);
-moz-box-shadow: 0px 0px 5px rgba(0,0,0, .75);
box-shadow: 0px 0px 5px rgba(0,0,0, .75);
}

/*forms*/
.panel-default {
  border-color: #ddd;
  margin-top: 55px;
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
